.ui-offset {
  height: 100%;
  padding: 2rem 4rem;
}

.create-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.center-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
